<main class="w-full h-screen bg-blue-900 p-5 text-blue-200 text-center">
  <ng-container *ngIf="quotes.length">
    <div class="bg-blue-800 rounded-xl p-8">
      <p
        class="text-green-400 text-sm uppercase tracking-[4px] font-extrabold py-5"
      >
        Quote
      </p>
      <h1
        class="font-extrabold text-2xl leading-16 tracking-wide before:content-['“'] after:content-['”'] before:text-3xl after:text-3xl"
      >
        {{ quotes[quoteIndex].quote }}
      </h1>
    </div>
    <div class="flex flex-col gap-4 mt-6">
      <button
        class="btn-choice"
        [ngClass]="{
          'bg-red-400 hover:bg-red-400 text-blue-200':
            error && buttonClicked === i,
          'bg-green-400 hover:bg-green-400 text-blue-200':
            !error && buttonClicked === i
        }"
        *ngFor="let quotes of quotes; let i = index"
        (click)="checkAnswer(i)"
      >
        {{ quotes.author }}
      </button>
    </div>
  </ng-container>
</main>
